{{{html}}}
<aside class="gh-post-upgrade-cta">
    <div class="gh-post-upgrade-cta-content" style="background-color: {{accentColor}}">
        {{#has visibility="paid"}}
            <h2>Subscribe to <a href="/advance"><u>advance</u></a>.</h2>
        {{/has}}
        {{#has visibility="members"}}
            <h2>Sign-up to keep reading — it’s free.</h2>
            <p>Just enter your email below.</p>
        {{/has}}
        {{#has visibility="tiers"}}
            <h2>Subscribe to {{tiers}} for access.</h2>
        {{/has}}
        {{#if @member}}
            <a class="gh-btn" data-portal="account/plans" style="color:{{accentColor}}">Upgrade to <u>advance</u></a>
        {{else}}
            <a class="gh-btn" data-portal="signup" style="color:{{accentColor}}">Subscribe now</a>
            <p><small>Already have an account? <a data-portal="signin">Sign in</a></small></p>
        {{/if}}
    </div>
</aside>