<!DOCTYPE html>
<html lang="{{@site.locale}}">
  <head>

    {{! Basic meta - advanced meta is output with {ghost_head} below }}
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="theme-color"
      content="{{@site.accent_color}}"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#353d48"
      media="(prefers-color-scheme: dark)"
    />

    <link rel="stylesheet" type="text/css" href="{{asset "built/style.css"}}" />

    <script src="https://cdn.typetura.com/typetura.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.typetura.com/rio/typetura.css"
    />

    {{! This tag outputs all your advanced SEO meta, structured data, and other important settings,
    it should always be the last tag before the closing head tag }}
    {{ghost_head}}

  </head>
  <body class="{{body_class}}">

    {{{body}}}

    {{! Scripts - handle member signups, responsive videos, infinite scroll, floating headers, and galleries }}
    <script src="{{asset "js/goldsguide.js"}}"></script>

    {{! Ghost outputs required functional scripts with this tag - it should always be the last thing before the closing body tag }}
    {{ghost_foot}}

  </body>
</html>