<footer class="foot">
  {{> molecule/nav}}
  {{navigation type="secondary"}}

  <a href="{{@site.url}}">
    {{> icons/logo}}
  </a>
  <div class="copyright small"><em>Copyright © Tyler Gold {{date format="YYYY"}}</em></div>

  <div class="social-links">

      {{#if @site.twitter}}
           <a class="social-link social-link-tw" href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank rel="noopener noreferrer">{{> "icons/twitter"}}</a>
      {{/if}}

     <a class="social-link social-link-fb" href="https://instagram.com/golds.guide" title="Instagram" target="_blank rel="noopener noreferrer">{{> "icons/instagram"}}</a>

        {{!-- commenting out the FB icon {{#if @site.facebook}}
      <a class="social-link social-link-fb" href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank rel="noopener noreferrer">{{> "icons/facebook"}}</a>
      {{/if}}--}}

          <a class="rss-button" href="/{{@site.url}}/rss/" title="RSS" target="_blank rel="noopener noreferrer">{{> "icons/rss"}}</a>
  </div>
</footer>
