<article class="entry {{post_class}} {{class}} {{#has tag="Feature"}}is-feature{{/has}}" {{#if primary_tag}}{{#primary_tag}}{{#if accent_color}}style="--tag_color:{{accent_color}}"{{/if}}{{/primary_tag}}{{/if}}>

  {{#if feature_image}}
		{{> "atom/image"}}
  {{/if}}

  <div class="entry-content">

    <header class="entry-header">
      {{#if primary_tag}}
      {{#primary_tag}}
			<a class="entry-tag meta" href="{{url}}">
				{{name}}
			</a>
      {{/primary_tag}}
      {{/if}}
	    <a class="entry-link" href="{{url}}">
        <h1 class="entry-title primary-headline">{{title}}</h1>
	    </a>
    </header>
		
    <section class="entry-excerpt">
      <p>{{excerpt}}</p>
    </section>

    <footer class="post-card-meta">
      <div class="meta">
        <span>{{#has author="count:>2"}}Multiple authors{{else}}{{authors}}{{/has}}</span>
        <span><time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time> — {{reading_time}}</span>
      </div>
    </footer>

  </div>

</article>
