<article class="entry {{post_class}} {{class}}" {{#if primary_tag}}{{#primary_tag}}{{#if accent_color}}style="--tag_color:{{accent_color}}"{{/if}}{{/primary_tag}}{{/if}}>


  {{#if feature_image}}
    {{> "atom/image"}}
  {{/if}}

  <div class="entry-content">

    <header class="entry-header">
      <div class="meta entry-meta">
        <div class='meta entry-post-visibility entry-post-visibility--{{ visibility }}'>
          <span class="entry-private-library post-visibility members"><a href="/advance">Advance</a></span> <span class="entry-private-library-mark">✦</span>
        </div>
        {{#if primary_tag}}
        {{#primary_tag}}
        <div class="entry-tag">
          <a href="{{url}}">
            {{name}}
          </a>
        </div>
        {{/primary_tag}}
        {{/if}}
      </div>
      <a class="entry-link" href="{{url}}">
        <h1 class="entry-title primary-headline">{{title}}</h1>
      </a>
    </header>

    <section class="entry-excerpt">
      <p>{{excerpt}}</p>
    </section>

    <footer class="post-card-meta">
      <div class="meta">
        <span><time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time> — {{reading_time}}</span>
      </div>
    </footer>

  </div>

</article>
